<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="userData.email" placeholder="이메일을 입력하세요.">
    <input type="password" v-model="userData.password" placeholder="비밀번호를 입력하세요.">
    <button @click="btnOK">확인</button><br />
    <div v-show="dataShow">
      입력된 이메일 : {{userData.email}}<br />
      입력된 비밀번호 : {{userData.password}} <br />
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    new Vue({
      el:'#app',
      data(){
        return{
          userData: {
            email:'',
            password:''
          },
          dataShow:false
        }
      },
      methods:{
        btnOK(){ 
          this.dataShow = true;
        }
      }
    })
  </script>
</body>
</html> 
 

<!-- textarea -->
<!-- <html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    textarea { display: block; min-width: 400px; height: auto; margin: 10px 0; }
    ul{ list-style: none; padding: 0; }    
    li{ background-color: #a7ffeb; border: 2px solid teal; padding:5px; margin-bottom:5px; }
  </style>
</head>
<body>
  <div id="app">
    <span>관람평가</span><br />
    <input type="text" v-model="movie_review.user" placeholder="이름을 입력해주세요.">
    <textarea v-model="movie_review.comment" placeholder="캡틴 마블을 본 소감을 남겨주세요."></textarea>
    <button @click="btnOK">확인</button>
    <div v-show="dataShow">
      <ul>
        <li v-for="(movie_review,idx) in movie_reviews" :key="movie_review.idx">
          <strong>{{movie_review.user}}</strong> {{movie_review.comment}}
        </li>
      </ul>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    new Vue({
      el:'#app',
      data(){
        return{
          movie_review:{
            user:'',
            comment:''
          },
          movie_reviews:[],
          dataShow:false
        }
      },
      methods:{
        btnOK(){ 
          this.dataShow = true;
          this.movie_reviews.push(this.movie_review);
          this.movie_review = {};
        }
      }
    })
  </script>
</body>
</html> -->

