<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <label>이름 :</label>
    <input type="text" v-model="name">
    <p>{{name}}</p>
    <input type="checkbox" v-model="checked">
    <span>영화보러 같이 갈래요? {{checked ? '예': '아니오'}} </span>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>
  <script>
    new Vue({
      el:'#app',
      data: {
        name:'',
        checked:false
      }
    })
  </script>  
</body>
</html>